
<h3>Identity:</h3>
<%= @identity.description %>
        <h3>PACT: </h3>
<% @identity.users.each do |user| %>
    <p>
        <div>
            <%= link_to user.name, user_path(user) %> 
        </div>
    </p>
<% end %>

<%= render partial: 'user_identities/form', locals: {identity: @identity} %>


<% @identity.comments.each do |comment| %>
<p><%= comment.content %> - <%= comment.user.username %></p>
<% end %>

<p><%= render partial: "comments/form", locals: {commentable: @identity}%></p>



<%= link_to "Back to List", identities_path %>