
<h3>IDentity: I'm A <%= @identity.description %> </h3>

<% if !@identity.users.include?(current_user) %>
<%= render partial: 'user_identities/form', locals: {identity: @identity} %>
<% else %>
<%= render partial: "user_identities/leave", locals: {user: @user, identity: @identity} %>
<% end %>
<br>

<%= link_to "Back to Identities List", identities_path %>
<br>
<br>
        <h3><%= @identity.pact_name %></h3>
         <h5>Members: </h5> 
<% @identity.users.each do |user| %>
    <p>
        <%= link_to user.name, user_path(user) %> 
    </p>
<% end %>
<br>

<h3>Comments: </h3>

<% @identity.comments.each do |comment| %>
    <p><%= render partial: "comments/comment", locals: {commentable: @identity, comment: comment, user: @user} %></p>
<% end %>


<br>

<p><%= render partial: 'comments/form', locals: {commentable: @identity}%></p>


<%= link_to "Add a Habit", new_habit_path %>
<br>

