
<h3>Identity:</h3>
<%= @identity.description %>
        <h3>PACT: </h3>
<% @identity.users.each do |user| %>
    <p>
        <div>
            <%= link_to user.name%> 
        </div>
    </p>
<% end %>

<%= form_tag '/join' do %>
    <%= hidden_field_tag 'identity_id', @identity.id %>
    <%= submit_tag "Join Pact" %>
<% end %>

<% @identity.comments.each do |comment| %>
<p><%= comment.content %> - <%= comment.user.username %></p>
<% end %>

<p><%= render partial: "comments/form", locals: {commentable: @identity}%></p>



<%= link_to "Back to List", identities_path %>