
<h3>Identity: <%= @identity.description %> </h3>

        <h3>PACT Members: </h3>
<% @identity.users.each do |user| %>
    <p>
        <div>
            <%= link_to user.name, user_path(user) %> 
        </div>
    </p>
<% end %>
<br>
<%= render partial: 'user_identities/form', locals: {identity: @identity} %>

<br>
<h3>Comments: </h3>

<% @identity.comments.each do |comment| %>
    <p><%= render partial: "comments/comment", locals: {comment: comment} %></p>
<% end %>


<br>

<p><%= render partial: 'comments/form', locals: {commentable: @identity}%></p>



<%= link_to "Back to Identities List", identities_path %>