

<%= form_with model: ([@habit, @step]), url: habit_steps_path(@habit), local: true do |form| %>
 <%= hidden_field_tag "habit_id", @habit.id %>
    <p>
       I will: <%= form.text_field :action_step, placeholder: "Action" %>
    </p>
    <p>
        <%= form.label :before %>
        <%= form.radio_button :before, true %>
        <%= form.label :after %>
        <%= form.radio_button :before, false %>
        <%= form.text_field :start_datetime, placeholder: "Work, Schoool, etc.." %>
    </p>
    <p>
        At: <%= form.text_field :location, placeholder: "Location" %>
    </p>
    <p>
        At: <%= form.time_select :action_time, {ampm: true} %>
    </p>
    <p>
        On: 
        <%= form.label :monday %>
        <%= form.radio_button :monday, true %>
      
        <%= form.label :tuesday %>
        <%= form.radio_button :tuesday, true %>

        <%= form.label :wednesday %>
        <%= form.radio_button :wednesday, true %>

        <%= form.label :thursday %>
        <%= form.radio_button :thursday, true %>

        <%= form.label :friday %>
        <%= form.radio_button :friday, true %>

        <%= form.label :saturday %>
        <%= form.radio_button :saturday, true %>

        <%= form.label :sunday %>
        <%= form.radio_button :sunday, true %>
    </p>

    <p>
        For: <%= form.number_field(:duration_number, in: 1..60) %>
    </p>

    <p>
    <%= form.select :duration_type, ['Minutes', 'Hours']%>
    </p>

    <p>
        <%= form.submit 'Create Action'%>
    </p>
<% end %>