<% @habit.steps.each do |step| %>
I WILL <%= step.action_step %>

<% if step.before == true %>
BEFORE <%= step.start_datetime %>
<% end %>

<% if step.before == false %>
AFTER <%= step.start_datetime %>
<% end %>

AT <%= step.location %>
AT <%= step.action_time %>

ON 
<% if step.monday == true %>
MONDAY
<% end %>
<% if step.tuesday == true %>
TUESDAY
<% end %>
<% if step.wednesday == true %>
WEDNESDAY
<% end %>
<% if step.thursday == true %>
THURSDAY
<% end %>
<% if step.friday == true %>
FRIDAY
<% end %>
<% if step.saturday == true %>
SATURDAY
<% end %>
<% if step.sunday == true %>
SUNDAY
<% end %>

FOR <%= step.duration_number %> <%= step.duration_type %>
<br>
<% end %></p>