<h3>Habit:</h3>
<%= form_with model: @habit, url: link_path do |form| %>
      <div>
      <h5>Build or Quit a Habit ?</h5>
        <%= form.label :build %>
        <%= form.radio_button :build, true %>
        <%= form.label :quit %>
        <%= form.radio_button :build, false %>
    </div>    
    <p>
        <%= form.label :title %>:
        <%= form.text_field :title, placeholder: "Code, Exercise, etc..." %>
    </p>
    <p>
        <%= form.label :frequency %>:
        <%= form.number_field( :frequency_number, in: 1..10) %> times per 
        <%= form.select :frequency, ['Day', 'Week', 'Month']%>
    </p>
    <%= form.collection_select :identity_id, Identity.all, :id, :pact_name, {:prompt => 'Select Identity'} %>
    <p>
        <%= form.submit %>
    </p>
<% end %>