<div>
<h4>Link this Habit to an Identity</h4>
<%= render "identity_habits/form" %>
</div>
<p><%= link_to "Back to Habits List", habits_path %></p>


<br>
<br>
<h3>Habit:</h3>
<%= render 'habit', habit: @habit %>
<% @habit.identities.each do |identity| %>
<p>Linked to <%= link_to identity.description %> <%= link_to "Unlink", "/unlink", method: :delete %></p>
<% end %>
<br>


<br>
<h3>Comments: </h3>
<% @habit.comments.each do |comment| %>
    <p><%= render partial: "comments/comment", locals: {comment: comment} %></p>
<% end %>


<br>

<p><%= render partial: 'comments/form', locals: {commentable: @habit}%></p>


<br>
<h4><%= link_to "Add Action Steps", new_habit_step_path(@habit, @step) %></h4>
